streamlit
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
rank_bm25
transformers
torch
pandas
openpyxl
pypdf
unstructured
python-docx
ragas
datasets